@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("../fonts/font/fontello.eot?1066236");
  src: url("../fonts/font/fontello.eot?1066236#iefix") format("embedded-opentype"), url("../fonts/font/fontello.woff2?1066236") format("woff2"), url("../fonts/font/fontello.woff?1066236") format("woff"), url("../fonts/font/fontello.ttf?1066236") format("truetype"), url("../fonts/font/fontello.svg?1066236#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/font/Metropolis-Black.eot");
  src: url("../fonts/font/Metropolis-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/font/Metropolis-Black.woff2") format("woff2"), url("../fonts/font/Metropolis-Black.woff") format("woff"), url("../fonts/font/Metropolis-Black.ttf") format("truetype"), url("../fonts/font/Metropolis-Black.svg#Metropolis-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis Semi';
  src: url("../fonts/font/Metropolis-SemiBold.eot");
  src: url("../fonts/font/Metropolis-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/font/Metropolis-SemiBold.woff2") format("woff2"), url("../fonts/font/Metropolis-SemiBold.woff") format("woff"), url("../fonts/font/Metropolis-SemiBold.ttf") format("truetype"), url("../fonts/font/Metropolis-SemiBold.svg#Metropolis-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/font/Metropolis-ThinItalic.eot");
  src: url("../fonts/font/Metropolis-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/font/Metropolis-ThinItalic.woff2") format("woff2"), url("../fonts/font/Metropolis-ThinItalic.woff") format("woff"), url("../fonts/font/Metropolis-ThinItalic.ttf") format("truetype"), url("../fonts/font/Metropolis-ThinItalic.svg#Metropolis-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis Extra';
  src: url("../fonts/font/Metropolis-ExtraLightItalic.eot");
  src: url("../fonts/font/Metropolis-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/font/Metropolis-ExtraLightItalic.woff2") format("woff2"), url("../fonts/font/Metropolis-ExtraLightItalic.woff") format("woff"), url("../fonts/font/Metropolis-ExtraLightItalic.ttf") format("truetype"), url("../fonts/font/Metropolis-ExtraLightItalic.svg#Metropolis-ExtraLightItalic") format("svg");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/font/Metropolis-RegularItalic.eot");
  src: url("../fonts/font/Metropolis-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/font/Metropolis-RegularItalic.woff2") format("woff2"), url("../fonts/font/Metropolis-RegularItalic.woff") format("woff"), url("../fonts/font/Metropolis-RegularItalic.ttf") format("truetype"), url("../fonts/font/Metropolis-RegularItalic.svg#Metropolis-RegularItalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis Semi';
  src: url("../fonts/font/Metropolis-SemiBoldItalic.eot");
  src: url("../fonts/font/Metropolis-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/font/Metropolis-SemiBoldItalic.woff2") format("woff2"), url("../fonts/font/Metropolis-SemiBoldItalic.woff") format("woff"), url("../fonts/font/Metropolis-SemiBoldItalic.ttf") format("truetype"), url("../fonts/font/Metropolis-SemiBoldItalic.svg#Metropolis-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis Extra';
  src: url("../fonts/font/Metropolis-ExtraBoldItalic.eot");
  src: url("../fonts/font/Metropolis-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/font/Metropolis-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/font/Metropolis-ExtraBoldItalic.woff") format("woff"), url("../fonts/font/Metropolis-ExtraBoldItalic.ttf") format("truetype"), url("../fonts/font/Metropolis-ExtraBoldItalic.svg#Metropolis-ExtraBoldItalic") format("svg");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/font/Metropolis-Regular.eot");
  src: url("../fonts/font/Metropolis-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/font/Metropolis-Regular.woff2") format("woff2"), url("../fonts/font/Metropolis-Regular.woff") format("woff"), url("../fonts/font/Metropolis-Regular.ttf") format("truetype"), url("../fonts/font/Metropolis-Regular.svg#Metropolis-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/font/Metropolis-Bold.eot");
  src: url("../fonts/font/Metropolis-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/font/Metropolis-Bold.woff2") format("woff2"), url("../fonts/font/Metropolis-Bold.woff") format("woff"), url("../fonts/font/Metropolis-Bold.ttf") format("truetype"), url("../fonts/font/Metropolis-Bold.svg#Metropolis-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/font/Metropolis-Light.eot");
  src: url("../fonts/font/Metropolis-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/font/Metropolis-Light.woff2") format("woff2"), url("../fonts/font/Metropolis-Light.woff") format("woff"), url("../fonts/font/Metropolis-Light.ttf") format("truetype"), url("../fonts/font/Metropolis-Light.svg#Metropolis-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/font/Metropolis-BoldItalic.eot");
  src: url("../fonts/font/Metropolis-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/font/Metropolis-BoldItalic.woff2") format("woff2"), url("../fonts/font/Metropolis-BoldItalic.woff") format("woff"), url("../fonts/font/Metropolis-BoldItalic.ttf") format("truetype"), url("../fonts/font/Metropolis-BoldItalic.svg#Metropolis-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/font/Metropolis-BlackItalic.eot");
  src: url("../fonts/font/Metropolis-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/font/Metropolis-BlackItalic.woff2") format("woff2"), url("../fonts/font/Metropolis-BlackItalic.woff") format("woff"), url("../fonts/font/Metropolis-BlackItalic.ttf") format("truetype"), url("../fonts/font/Metropolis-BlackItalic.svg#Metropolis-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/font/Metropolis-LightItalic.eot");
  src: url("../fonts/font/Metropolis-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/font/Metropolis-LightItalic.woff2") format("woff2"), url("../fonts/font/Metropolis-LightItalic.woff") format("woff"), url("../fonts/font/Metropolis-LightItalic.ttf") format("truetype"), url("../fonts/font/Metropolis-LightItalic.svg#Metropolis-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/font/Metropolis-Medium.eot");
  src: url("../fonts/font/Metropolis-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/font/Metropolis-Medium.woff2") format("woff2"), url("../fonts/font/Metropolis-Medium.woff") format("woff"), url("../fonts/font/Metropolis-Medium.ttf") format("truetype"), url("../fonts/font/Metropolis-Medium.svg#Metropolis-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/font/Metropolis-Thin.eot");
  src: url("../fonts/font/Metropolis-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/font/Metropolis-Thin.woff2") format("woff2"), url("../fonts/font/Metropolis-Thin.woff") format("woff"), url("../fonts/font/Metropolis-Thin.ttf") format("truetype"), url("../fonts/font/Metropolis-Thin.svg#Metropolis-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis Extra';
  src: url("../fonts/font/Metropolis-ExtraBold.eot");
  src: url("../fonts/font/Metropolis-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/font/Metropolis-ExtraBold.woff2") format("woff2"), url("../fonts/font/Metropolis-ExtraBold.woff") format("woff"), url("../fonts/font/Metropolis-ExtraBold.ttf") format("truetype"), url("../fonts/font/Metropolis-ExtraBold.svg#Metropolis-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis Extra';
  src: url("../fonts/font/Metropolis-ExtraLight.eot");
  src: url("../fonts/font/Metropolis-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/font/Metropolis-ExtraLight.woff2") format("woff2"), url("../fonts/font/Metropolis-ExtraLight.woff") format("woff"), url("../fonts/font/Metropolis-ExtraLight.ttf") format("truetype"), url("../fonts/font/Metropolis-ExtraLight.svg#Metropolis-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/font/Metropolis-MediumItalic.eot");
  src: url("../fonts/font/Metropolis-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/font/Metropolis-MediumItalic.woff2") format("woff2"), url("../fonts/font/Metropolis-MediumItalic.woff") format("woff"), url("../fonts/font/Metropolis-MediumItalic.ttf") format("truetype"), url("../fonts/font/Metropolis-MediumItalic.svg#Metropolis-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-check:before {
  content: '\e800';
}

/* '' */
.icon-close:before {
  content: '\e801';
}

/* '' */
.icon-edit:before {
  content: '\e802';
}

/* '' */
.icon-search:before {
  content: '\e803';
}

/* '' */
.icon-arrow-right:before {
  content: '\e804';
}

/* '' */
label.error:after {
  content: '\e801';
  font-family: 'fontello';
  color: red;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
}

label.success:after {
  content: '\e800';
  font-family: 'fontello';
  color: green;
}

body {
  width: 375px;
  height: 812px;
  margin: 0px auto;
  -webkit-box-shadow: 0px 0px 40px 0px #9c9c9c;
          box-shadow: 0px 0px 40px 0px #9c9c9c;
}
/*# sourceMappingURL=styles.css.map */