$color-white: #F6F6F6;
$color-gray: #ABB4BD;
$color-primary: #EF3651;
$color-background: #1E1F28;
$color-dark: #2A2C36;
$color-error: #FF2424;
$color-success: #55D85A;
$color-sale: #FF3E3E;
$color-text: #F5F5F5;