@import '../partials/variables';

.component-buttons{
    padding: 16px;
    border: 1px solid $color-text;
    .title{
        text-align: center;
        color: $color-text;
        font-size: 14px;
        text-transform: uppercase;
    }
}
.button{
    // PRIMARY BUTTON STYLES
    border-radius: 25px;
    padding: 14px;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Metropolis';
    border: none;
    background: $color-primary;
    border: 1px solid $color-primary;
    color: $color-text;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    padding: 14px 0;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    width: 100%;
    transition: all .3s;
    text-transform: uppercase;
    outline: none;
    box-shadow: none;
    i{
        margin-right: 4px;
    }
    &:last-child{
        margin-bottom: 0;
    }
    &:hover{
        background: rgba($color-primary, 0.9);
        border-color: rgba($color-primary, 0.9);
    }
    // OUTLINE BUTTON STYLES
    &.outline{
        background: transparent;
        border-color: $color-text;
        &:hover{
            border-color: $color-gray;
            color: $color-gray;
        }
    }
    // SMALL BUTTON STYLES
    &.small{
        padding: 8px 25px;
        text-transform: inherit;
        display: inline-block;
        width: auto;
        margin-right: 20px;
        &:last-child{
            margin-right: 0;
        }
    }
    // ICON BUTTON STYLES
    &.icon{
        width: 52px;
        height: 52px;
        font-size: 26px;
        border-radius: 50%;
        padding: 0;
        text-align: center;
        display: inline-block;
        i{
            &:before{
                line-height: 52px;
            }
        }
        &.small{
            width: 36px;
            height: 36px;
            font-size: 18px;
            i{
                &:before{
                    line-height: 36px;
                }
            }
        }
    }
}
