@import '../partials/variables';


label{
    &#error{
        &:after{
            content: '\e801';
            font-family: 'fontello';
            color: red;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 12px;
        }
    }
    .check1{
        &:after{
            content: '\e800';
            font-family: 'fontello';
            color: green;
        }
    }
}
body{
    background: #1E1F28;
}
div{
    position: relative;
    display: block;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 20px; 
}

input{
    display: block;
    color: #F5F5F5;
    box-sizing: border-box;
    border: none;
    width: 100%;
    background: #2A2C36;
    border-radius: 4px;
    border-color: #2A2C36 ;
    height: 64px;
    padding-left: 20px;
    transition: all 0.2s ease-in-out;
    &::placeholder{
        transition: all 0.2s ease-in-out;
        font-family: Metropolis;
        font-size: 14px;
        line-height: 20px;
         color:#ABB4BD;
    }
    &:focus {
        &::placeholder {
            color: transparent; 
        }
        & + span {
            opacity: 1;
            margin-left: 20px;
           top: 14px;
          }   
      }
}
span{
    top:0;
    margin-left: 20px;
    position: absolute;
    font-family: Metropolis;
    font-size: 11px;
     line-height: 11px;
     color: #ABB4BD;
     opacity: 0;
    transition: all 0.2s ease-in-out;
}

.error{
    &:after{
        content: '\e801';
        font-family: 'fontello';
        color: #FF2424;;
        position: absolute;
        margin-top: -40px;
        margin-left:300px;
        font-size: 14px;
        opacity: 1;    
      }     
}
.check{
    &:after{
        content: '\e800';
        font-family: 'fontello';
        color: #55D85A;
        position: absolute;
        margin-top: -40px;
        margin-left:300px;
        font-size: 14px;
        opacity: 1;    
      } 
}
.promocode{
    display: flex;
    margin: 0;
    input{
        height:36px;
    }
    button{
        margin-left: -34px;
        border-radius: 50%;
        width: 34px;
        height: 34px;
        background: #ABB4BD;
    }
}

